<footer id="gtco-footer" class="container-fluid" style="margin-top: 50px;">
    <div class="container">
        <div class="row gy-4 align-items-start">

            <!-- Logo + Company -->
            <div class="col-lg-4 col-md-6 text-center text-md-start">
                <h4>Company</h4>
                <ul class="nav flex-column company-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Fetures</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Job Board</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#">FAQ's</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul>

                
            </div>

            <!-- Features Section -->
            <div class="col-lg-4 col-md-6 text-center text-md-start">
                <h4>Features</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fa fa-check-circle text-warning me-2"></i>Project Management</li>
                    <!-- <li class="mb-2"><i class="fa fa-check-circle text-warning me-2"></i>Secure Payments</li> -->
                    <li class="mb-2"><i class="fa fa-check-circle text-warning me-2"></i>Easy Bidding System</li>
                    <li class="mb-2"><i class="fa fa-check-circle text-warning me-2"></i>Client & Freelancer Profiles</li>
                    <li class="mb-2"><i class="fa fa-check-circle text-warning me-2"></i>Real-time Messaging</li>
                </ul>
            </div>

            <!-- Services Links -->
            <div class="col-lg-4 col-md-6 text-center text-md-start">
                <h4>Services</h4>
                <ul class="nav flex-column services-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Web Design</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Graphics Design</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">App Design</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SEO</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Marketing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
                </ul>
            </div>

            <!-- Footer Bottom -->
            <div class="col-12 text-center mt-4 text-center text-md-start">
                <h4 class="mt-4">Follow Us</h4>
                <ul class="nav follow-us-nav d-flex flex-row justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-google"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <hr class="border-secondary">
                <p class="mb-0 small">
                    &copy; <%= new Date().getFullYear() %>. All Rights Reserved. Design by 
                    <a href="https://gettemplates.co" target="_blank" class="text-warning text-decoration-none">GetTemplates</a>.
                </p>
            </div>

        </div>
    </div>
</footer>
